.footer{
    background-color: $color-dorado;
    height: 15rem;
    padding: 4rem;
    text-align: center;
    border-top: black 5px solid;

    h2{
    background-color: $color-dorado;
    color: black;
    font-family: 'Cinzel', serif;
    }

    h3{
    background-color: $color-dorado;
    color: black;
    font-family: 'Marcellus', serif;
    }
    
}