.page{
    background-color: $color-dorado;
    border-top: 5px black solid;
    border-bottom: 5px black solid;
    h1{
    background-color: $color-dorado;
    color: black;
    height: 4rem;
    font-family: 'Cinzel', serif;
    text-align: center;
    margin-top: 2rem;
    }
}